{% extends "base.html" %}
{% load static %}
{% block title %}Create Todo{% endblock title %}
{% block styles %}
<link rel="stylesheet" href="{% static 'todos/form.css' %}">
{% endblock styles %}
{% block content %}
<div class="action-button">
  <button>
    <a href="{% url "index" %}">Home</a>
  </button>
</div>
<div class="form">
  <h2>Create</h2>
  <form action="/todo" method="post">
    {% csrf_token %}
    <fieldset>
      <legend>Create Todo</legend>
      <div class="form-input">
        {{ form.title.label_tag }}
        {{ form.title }}
      </div>
      <div class="form-input">
        {{ form.description.label_tag}}
        {{ form.description }}
      </div>
      <button type="submit" class="form-submit">Create</button>
    </fieldset>
  </form>
</div>
{% endblock content %}