{% extends 'base.html' %}

{% block title %}
	All | Todos
{% endblock title %}

{% block content %}
    <a href="{% url 'create-todo' %}">Add Todo</a>

    <ul>
        {% for todo in todos %}
        	<li>
                <a href="{% url 'todo-detail' pk=todo.pk %}">
                    <span>{{ todo.title }}</span>
                </a>
            {% if todo.is_complete %}
            	<span> Done!</span>
            {% endif %}
                <span>
                    <a href="{% url 'update-todo' pk=todo.pk %}">
                        Edit
                    </a>
                </span>
                <span>
                    <a href="{% url 'delete-todo' pk=todo.pk %}">
                        Delete
                    </a>
                </span>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}
