{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Todos{% endblock title %}</title>
  <link rel="stylesheet" href="{% static '/css/reset.css' %}">
  {% block styles %}{% endblock styles %}
  <script src="{% static '/javascript/script.js' %}" defer></script>
  {% block scripts %}{% endblock scripts %}
</head>
<body>
  <div class="app">
    {% include "components/header.html" %}
  <main>
    {% block content %}{% endblock content %}
  </main>
  {% include "components/footer.html" %}
  </div>
</body>
</html>